// Menu Button
.menu-btn {
  @include easeOut;
  z-index: 3;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 50px;
  right: 30px;
  @include breakpoint(tablet-portrait) {
    top: 21px;
    right: 25px;
  }
  @include breakpoint(very-small-screen) {
    top: 16px;
  }

  .btn-line {
    @include easeOut;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: var(--text);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    &.show {
      background: #fff;
    }
    &.close {
      transition-delay: 1s;
    }
  }

  //Rotate Into X with Menu Lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      //Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate3d(5px, 5px, 0);
      }
      //Line 2 - Hide
      &:nth-child(2) {
        opacity:0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate3d(7px, -6px, 0);
      }
    }
  }
}

// Menu Overlay
.menu {
  position:fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-panel-left,
  &-panel-right {
    float:left;
    width:50%;
    height: 100vh;
    overflow: hidden;
    &.close {
      transition-delay: 0.6s;
    }
  }

  &-panel-right {
    margin: 0;
    padding:0;
    background: #0f141e;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //Slide in from Top
      transform: translate3d(0,0,0);
    }
  }
  //Branding Side
  &-panel-left {
    background: #0f141e;
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    &.show {
      //Slide in from Bottom
      transform: translate3d(0,0,0);
    }
  }

  &-nav {
    position:fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    transform: translate3d(1200px, 0, 0);
    @include easeOut;

    &.show {
      //Slide in from right
      transform: translate3d(0,0,0);
    }

    a.current {
      transform: scale(1.4);
      @include underly(#fff);
    }
  }
  .nav-link {
    display: inline-block;
    border: none;
    position:relative;
    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.2, 1);
    &:hover {
      transform: scale(1.2);
      @include underly(#fff);
    }
  }
}

// Delay each nav item slide by 0.1s

@for $x from 1 through 6 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.07s;
  }
}
