//Container
.container {
  max-width: 1700px;
  padding:0 90px;
  margin: 0 auto;
  @include breakpoint(tablet-portrait) {
    max-width: 600px;
    padding:0;
  }
  @include breakpoint(phone-landscape) {
    max-width: 420px;
  }
  @include breakpoint(phone-portrait) {
    max-width: 320px;
  }
  @include breakpoint(very-small-screen) {
    max-width: 300px;
  }
}

.content-wrapper {
  padding: 0 4rem;
  @include breakpoint(tablet-portrait) {
    padding:0;
  }
}

// Paddings
main > section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  @include breakpoint(phone-portrait) {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}


.grid-container-col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); //met ca a 300 pr voir ce que ca fait sur petit screen et bosse les font-size.
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;

  @include breakpoint(phone-portrait) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));//A "phone-portrait" le max-width appliqué par le container est 320px, donc pas possible d'voir du contenu plus petit si non overlap du container. Du coup je donne à la card le width max qu'lle peut avoir y'aura pas de diff si tu fais moins"
    grid-row-gap: 2.5rem;
  }

  @include breakpoint(very-small-screen) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &.projects {
    @include breakpoint(phone-portrait) {
      grid-auto-rows: 420px;
    }
  }
}

#skills .grid-container-col3 {
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}
