//Container
.container {
  max-width: 1500px;
  padding:0 90px;
  margin: 0 auto;
  @include breakpoint(tablet-portrait) {
    max-width: 600px;
    padding:0;
  }
  @include breakpoint(phone-landscape) {
    max-width: 420px;
  }
  @include breakpoint(phone-portrait) {
    max-width: 320px;
  }
  @include breakpoint(very-small-screen) {
    max-width: 300px;
  }
}
