header {
  --text: #fff; //Setting custom properties for the header. Then using them in each component (on .btn-line in menu.scss & on #branding a)
  --text-inverse: #000; //Now only adding the nav-inverse classe to one place (the <header>) will change all the other components that uses this custom properties
  --text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  text-shadow: var(--text-shadow);
  @include breakpoint(tablet-portrait) { // other color if we are on tablet and under (because the header is not transparent)
    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    --text: #000;
    --text-inverse: #fff;
  }

  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 2;

  @include breakpoint(tablet-portrait) {
    height:4.2rem;
    background-color:#fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  @include breakpoint(phone-portrait) {
    height:3.7rem;
  }

  @include breakpoint(very-small-screen) {
    height:3.3rem;
  }
}

.inverse { // Here we switch variables values. Inverse class apply only if tablet size and up
  @media only screen and (min-width: 960px) {
    --text: #000;
    --text-inverse: #fff;
    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

 // Branding
#branding {
  transition: background 0.5s ease-out;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600;
  position: absolute;
  top: 35px;
  left: 35px;
  cursor: pointer;
  padding:0;
  margin:0;
  a {
    transition: color 0.5s ease-out;
    border: none;
    color: var(--text)
  }
  span {
    letter-spacing: 0.15rem;
    display: block;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    @include breakpoint(phone-portrait) {
      font-size: 0.8rem;
      letter-spacing: 0.11rem;
    }
    @include breakpoint(very-small-screen) {
      font-size: 0.7rem;
    }
  }
  @include breakpoint(tablet-portrait) {
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
  @include breakpoint(phone-portrait) {
    font-size: 1.4rem;
  }

  @include breakpoint(very-small-screen) {
    font-size: 1.2rem;
  }
}
