header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  // border:10px solid green;
  // height: 10rem;
}

 // Branding
#branding {
  position: absolute;
  display: block;
  left: 2rem;
  top: 2rem;
  cursor: pointer;
  padding:0;
  // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.  5);
  // z-index: 1  ; quand y'a la navbar
}

#branding h1 {
  margin: 0;
}
