// Variables
// $primary-color: #1a7cd9;
$primary-color: #1179B7;

$grey: #878a8f;
$show-home-image: true;
$hero-image: url("../../images/georgesatalla.jpg");
$portrait-image: url("../../images/georgesatalla.jpg");
$background-opacity: 0.9;


// Custom Style

body {
  // @include background;
  height: 100%;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, "Lato", "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

//Headings

h1 {
  font-size: 2rem;
  line-height: 2;
  padding-bottom: 3rem;
}

//links
a {
  // color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: $primary-color;
}
