// Variables

$primary-color: #008BF8;
// $secondary-color:#e31b6d;
$text-secondary: #484848;

// $grey: #878a8f;
$show-home-image: true;
$hero-image: url("../../images/georgesatalla.jpg");
$portrait-image: url("../../images/georgesatalla.jpg");
$background-opacity: 0.9;

// Custom Style

body {
  // @include background;
  height: 100%;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, "Lato", "Open Sans", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  // overflow-x: hidden;
}

//Headings


h1.section-heading {
  @include underly(#000);
  font-size: 3rem;
  line-height: 2;
  margin-bottom: 3rem;
  font-weight: 600;
  @include breakpoint(tablet-portrait) {
    text-align: center;
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    right:50%;
  }
  @include breakpoint(phone-portrait) {
    font-size:2.7rem;
  }
}

h2 {
  color: $primary-color;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  @include breakpoint(phone-portrait) {
    font-size:1.5rem;
  }
}

h5 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  color:$text-secondary;
  margin-bottom: 1rem;
}

//links
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.text-secondary {
  color: $primary-color;
}
